@model ChuvsuEvents.Models.Audience
<div class="modal-content">
    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Потверждение удаления</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form id="changeModalForm" asp-action="OnPostDeleteAsync" asp-controller="Audience" asp-route-id="@Model.Id" class="text-center border-bottom border-light pr-1">
        <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-dark" value="Send">Удалить</button>
        </div>
    </form>
</div>