@model ChuvsuEvents.ViewModels.RegisterViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form method="post" asp-controller="Account" asp-action="Register">
                <h2 class="text-center">Регистрация</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="UserFIO" id="defaultRegisterFormFIO" class="form-control mb-4" placeholder="ФИО">
                <span asp-validation-for="UserFIO" class="text-danger"></span>

                <input asp-for="Email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
                <span asp-validation-for="Email" class="text-danger"></span>

                <input asp-for="Password" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Папроль" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <span asp-validation-for="Password" class="text-danger"></span>
                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">Минимум 6 символов</small>

                <input asp-for="PasswordConfirm" type="password" id="passwdInput" class="form-control mb-4" placeholder="Повторите пароль">
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>

                <button class="btn btn-dark my-4 btn-block" type="submit">Зарегистрироваться</button>

                <div class="text-center">
                    <p>
                        Есть аккаунт?
                        <a asp-action="Login">Войдите</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>